#root {
  
  margin: 0 auto;
  
  text-align: center;
}

.count {
border: 1px solid black;
padding: 50px;
border-radius: 50%;
background-color: rgb(0, 213, 255);

}

.button-conteiner {
 padding: 60px;
 
}

.minus {

background-color: blue;
padding: 10px;

}

.plius{
  background-color: red;
  padding: 10px;
  margin-right: 10px;
}